# Projektname
.project

# draft PDF files
**/*-draft.pdf

# snowflake files (these are in monotone repository)
snowflake

# monotone VCS files
.mtn-ignore
_MTN

# research files (these are in monotone repository)
recherche
artifacts
tmp
